@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #ECBFCA;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-links{
  justify-content: flex-end;
  list-style: none;
  font-size: 17px;
  font-family: "Nunito ExtraBold";
  text-transform: uppercase;
  margin-bottom: 0;
}
nav .logo {
  justify-content: flex-start;
  margin-left: 35%;
  height: 80px;
}

.nav-links li, .active li {
  color: white;
  text-decoration: none;
  height: 50px;
  line-height: 10px;
  display: inline-block;
  padding: 20px;
}
.nav-links li:hover {
background-color: #A04966;
}
footer {
  background-color: #161616;
  height: 100px;
  font-family: "Nunito Regular";
}
footer .footer-content {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #777777;
  display: flex;
  flex-direction: column;

}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  height: 44px;
  width: 44px;
  background-color: #343434;
  border-radius: 8px;
  margin-right: 22px;
  cursor: pointer;
}
.social-links a {
  text-decoration: none;
  color: white;
}
.footer-content .socials{
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}
.footer-content .copyright {
  text-align: center;
  margin-top: 20px;
}

.offer-text{
  margin: 30px 30px 0px 30px;
  font-family: "Nunito Regular";
}
.offer-text-bold{
text-align: center;
font-family: "Nunito";
font-weight: bold;
}
.fa-bars, .fa-times{
  font-size: 36px;
  cursor: pointer;
}
.menu-icon{
  display: none;
  transition: all .3s ease-in-out;
}

.nav-hidden {
  width: 100%;
  background-color: #ebb3c1;
  transition: all .3s ease-in-out;
}

.active {
  display: none;
  list-style: none;
  font-size: 17px;
  font-family: "Nunito ExtraBold";
  text-transform: uppercase;
  margin-bottom: 0;
}